.meu-trabalho-lista {
  color: black;
  padding: 100px 20px;
  max-width: var(--tamanho-tela);
  margin: 0 auto;
  box-sizing: border-box;
}
.meu-trabalho-lista h2 {
  font-size: 3rem;
  margin-bottom: 60px;
}

.meu-trabalho {
  display: flex;
  gap: 20px;
  margin-bottom: 70px;
}

.meu-trabalho h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.meu-trabalho p {
  font-size: 1.2rem;
  max-width: 40em;
  line-height: 149.66%;
  margin-bottom: 10px;
}
.meu-trabalho a {
  color: blue;
  display: inline-block;
  text-align: center;
  position: relative;
}

.meu-trabalho a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: blue;
  position: absolute;
  margin-top: 4px;
  transition: 0.3s;
}

.meu-trabalho a:hover::after {
  width: 100%;
}

@media (width <= 800px) {
  .meu-trabalho-lista {
    padding-top: 60px;
  }
  .meu-trabalho-lista h2 {
    font-size: 2rem;
  }

  .meu-trabalho {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .meu-trabalho h4 {
    margin-bottom: 10px;
  }
  .meu-trabalho p {
    font-size: 1em;
  }
}
